html, body {
	width: 100%;
	font-size: 90%;
	height: 100%;
}
body {
	background-color: #f9f9f9;
	color: #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: normal;
}

article, nav {
	max-width: 87.5rem;
	margin: 0 2rem;
}

.inner-nav { margin: 0; }

article, section { position:relative; }

p, h1, h2, h3, h4, select, ul { 
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

a {
	color: currentColor;
	text-decoration: none;
	border-bottom: 1px dotted currentColor;
	transition: opacity .3s;
}

p a:hover {
	opacity: .7;
}

h1 { 
	font-size: 2.25rem;
	margin: 1rem auto;
}
h1, h2 { line-height: 1;}
h3, select { line-height: 1.25; }
h4, p { line-height: 1.5; }
h2, h3, select { font-weight: 300; }

h2 { 
	font-size: 1.875rem;
	line-height: 2.5rem;
	margin-bottom: 0;
}
h3 { font-size: 1.5rem; }
h4 {
	font-weight: 700;
	font-size: 1.2rem;
}
p, ul { 
	font-size: 1.125rem;
	line-height: 1.875rem;
	font-weight: 300;
}
.note { font-size: .9rem; }

.col, .wide, .col-text, .narrow {
	margin: 0 auto;
	width: 100%;
}

.fs {
	width: 100%;
	margin: 0;
	padding: 0;
}

.logo { width: 6rem; }
.top { margin-top: 1rem; }

@media screen and (min-width: 58rem) {
	
	html, body { font-size: 100%;}
	
	p, h1, h2, h3, h4, select { 
		margin-left: 0;
		margin-right: 0;
	}

	article, nav {
		margin: 0 auto;
		margin-left: 3.75rem;
	}

	h1 { font-size: 3rem; }
	h2 { font-size: 1.875rem; }
	h3 { font-size: 1.5rem; }
	
	.narrow { 
		width:38rem;
		padding-right:calc(100% - 38rem);
	}
	.col { 
		width:48rem;
		padding-right:calc(100% - 48rem);
	}
	.col-text { 
		width:52rem;
		padding-right:calc(100% - 52rem);
	}

	.logo { width: 9rem; }
	.top { margin-top: 2rem; }
}

@media screen and (min-width: 95.25rem) {
	article, nav {
		margin: 0 auto;
	}

	.logo { width: 11rem; }
}