html, body {
	width: 100%;
	font-size: 90%;
	height: 100%;
}
body {
	background-color: #f9f9f9;
	color: #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: normal;
}

article, nav {
	max-width: 87.5rem;
	margin: 0 2rem;
}

.inner-nav { margin: 0; }

article, section { position:relative; }

p, h1, h2, h3, h4, select, ul {
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

a {
	color: currentColor;
	text-decoration: none;
	border-bottom: 1px dotted currentColor;
	transition: opacity .3s;
}

p a:hover {
	opacity: .7;
}

h1 {
	font-size: 2.25rem;
	margin: 1rem auto;
}
h1 { line-height: 1.1;}
h2 { line-height: 1.75rem;}
h3, select { line-height: 1.25; }
h4, p { line-height: 1.5; }
h2, h3, select { font-weight: 300; }

h2 {
	font-size: 1.35rem;
	margin-top: 2rem!important;
	margin-bottom: 1rem!important;
}
h3 { font-size: 1.25rem; }
h4 {
	font-weight: 700;
	font-size: 1.2rem;
}
p, ul {
	font-size: 1.125rem;
	line-height: 1.875rem;
	font-weight: 300;
}
.note { font-size: .9rem; }

.col, .wide, .col-text, .narrow {
	margin: 0 auto;
	width: 100%;
}

.narrow {
	width:66%;
	padding-right:34%;
}

.right-narrow {
	width:100%;
	max-width: 40rem;
	display: block;
}

.fs {
	width: 100%;
	margin: 0;
	padding: 0;
}

.logo { width: 6.2rem; }
.top { margin-top: 1.5rem; }
.hidden {
    position: absolute!important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

@media screen and (min-width: 58rem) {

	html, body { font-size: 100%;}

	p, h1, h2, h3, h4, select {
		margin-left: 0;
		margin-right: 0;
	}

	article, nav {
		margin-left: 3.75rem;
		margin-right: 1.5rem;
	}

	h1 { font-size: 3rem; }
	h3 { font-size: 1.25rem; }

	.narrow {
		width:30rem;
		margin-left:0;
		margin-right:1rem;
		display: inline-block;
		padding-right:0;
	}
	.right-narrow {
		width:calc(100% - 32rem);
		display: inline-block;
		vertical-align: middle;
	}
	.col {
		width:48rem;
		padding-right:calc(100% - 48rem);
	}
	.col-text {
		width:52rem;
		padding-right:calc(100% - 52rem);
	}

	.logo { width: 11rem; }
	.top { margin-top: 2rem; }
}

@media screen and (min-width: 95.25rem) {
	article, nav {
		margin: 0 auto;
	}
}